# Análise exploratória de dados

In [1]:
import pandas as pd

## 1. Descrição dos dados

In [2]:
df = pd.read_csv('../data/raw/wines_SPA.csv')

In [3]:
df

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
7495,Contino,Reserva,2016,4.2,392,Espana,Rioja,19.98,Rioja Red,4.0,3.0
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Espana,Priorato,16.76,Priorat Red,4.0,3.0
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,Espana,El Terrerazo,24.45,Red,4.0,3.0
7498,Matarromera,Gran Reserva,2011,4.2,389,Espana,Ribera del Duero,64.50,Ribera Del Duero Red,5.0,3.0
7499,Sei Solo,Preludio,2016,4.2,388,Espana,Ribera del Duero,31.63,Ribera Del Duero Red,5.0,3.0

In [4]:
df_dict = pd.DataFrame([
    {
        'variavel':'winery',
        'descricao':'Vinícola: local onde o vinho foi produzido',
        'tipo':'qualitativa',
        'subtipo':'nominal'
    },{
        'variavel':'nome do wine',
        'descricao':'vinho',
        'tipo':'qualitativa',
        'subtipo':'nominal'
    },{
        'variavel':'year',
        'descricao':'ano',
        'tipo':'quantitativa',
        'subtipo':'discreta'
    },{
        'variavel':'rating',
        'descricao':'avaliação',
        'tipo':'quantitativa',
        'subtipo':'discreta'
    },{
        'variavel':'num_reviews',
        'descricao':'número de avaliações',
        'tipo':'quantitativa',
        'subtipo':'discreta'
    },{
        'variavel':'country',
        'descricao':'país de origem',
        'tipo':'qualitativa',
        'subtipo':'nominal'
    },{
        'variavel':'region',
        'descricao':'região do vinho',
        'tipo':'qualitativa',
        'subtipo':'nominal'
    },{
        'variavel':'price',
        'descricao':'preço em euros',
        'tipo':'quantitativa',
        'subtipo':'continua'
    },{
        'variavel':'type',
        'descricao':'tipo do vinho',
        'tipo':'qualitativa',
        'subtipo':'nominal'
    },{
        'variavel':'body',
        'descricao':'corpo do vinho: como o vinho "cai" na boca',
        'tipo':'quantitativa',
        'subtipo':'discreta'
    },{
        'variavel':'acidity',
        'descricao':'acidez',
        'tipo':'quantitativa',
        'subtipo':'discreta'
    }
])

In [5]:
df_dict

,variavel,descricao,tipo,subtipo
0,winery,Vinícola: local onde o vinho foi produzido,qualitativa,nominal
1,nome do wine,vinho,qualitativa,nominal
2,year,ano,quantitativa,discreta
3,rating,avaliação,quantitativa,discreta
4,num_reviews,número de avaliações,quantitativa,discreta
5,country,país de origem,qualitativa,nominal
6,region,região do vinho,qualitativa,nominal
7,price,preço em euros,quantitativa,continua
8,type,tipo do vinho,qualitativa,nominal
9,body,"corpo do vinho: como o vinho ""cai"" na boca",quantitativa,discreta
10,acidity,acidez,quantitativa,discreta

- São 11 variáveis, sendo 1 quantitativa contínuas, 5 quantitativas discretas e 5 qualitativas nominais.

In [6]:
df_dict.to_csv('../data/external/dict.csv', index=False)

## 2. Perguntas de partida e hipóteses

- Existem dados faltantes, se sim quantos e em quais variáveis?
- Qual a distribuição dos dados (variável por variável)?
- Existe alguma relação entre o preço e avaliação(rating, body e acidez)/região/tipo?
- Existe alguma relação entre a vinícola e avaliação(rating, body e acidez)/preço/tipo?

In [7]:
number_of_na_by_column = df.isnull().sum().loc[lambda x: x > 0]
number_of_na_rows = df.isnull().any(axis=1).sum()

In [8]:
print(df.isnull().sum())
number_of_na_rows = df.isnull().any(axis=1).sum()
number_of_na_by_column = df.isnull().sum().loc[lambda x: x > 0]

print(f'''
A partir dessa informação percebemos que existem valores faltantes na(s) variável(is) {number_of_na_by_column.axes[0].tolist()}.
Além disso, sabemos que existem {number_of_na_rows} linhas com valores faltantes''')

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

A partir dessa informação percebemos que existem valores faltantes na(s) variável(is) ['year', 'type', 'body', 'acidity'].
Além disso, sabemos que existem 1171 linhas com valores faltantes

In [9]:
df.describe(include='all')

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
count,7500,7500,7498,7500.000000,7500.000000,7500,7500,7500.000000,6955,6331.000000,6331.000000
unique,480,847,71,NaN,NaN,1,76,NaN,21,NaN,NaN
top,Contino,Reserva,2011,NaN,NaN,Espana,Rioja,NaN,Rioja Red,NaN,NaN
freq,457,467,1190,NaN,NaN,7500,2440,NaN,2357,NaN,NaN
mean,NaN,NaN,NaN,4.254933,451.109067,NaN,NaN,60.095822,NaN,4.158427,2.946612
std,NaN,NaN,NaN,0.118029,723.001856,NaN,NaN,150.356676,NaN,0.583352,0.248202
min,NaN,NaN,NaN,4.200000,25.000000,NaN,NaN,4.990000,NaN,2.000000,1.000000
25%,NaN,NaN,NaN,4.200000,389.000000,NaN,NaN,18.900000,NaN,4.000000,3.000000
50%,NaN,NaN,NaN,4.200000,404.000000,NaN,NaN,28.530000,NaN,4.000000,3.000000
75%,NaN,NaN,NaN,4.200000,415.000000,NaN,NaN,51.350000,NaN,5.000000,3.000000
max,NaN,NaN,NaN,4.900000,32624.000000,NaN,NaN,3119.080000,NaN,5.000000,3.000000

- Como só existe um país, Espanha, podemos retirá-lo para a continuação das observções.

In [10]:
del df['country']

In [11]:
df

,winery,wine,year,rating,num_reviews,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...
7495,Contino,Reserva,2016,4.2,392,Rioja,19.98,Rioja Red,4.0,3.0
7496,Conreria d'Scala Dei,Les Brugueres,2018,4.2,390,Priorato,16.76,Priorat Red,4.0,3.0
7497,Mustiguillo,Finca Terrerazo,2017,4.2,390,El Terrerazo,24.45,Red,4.0,3.0
7498,Matarromera,Gran Reserva,2011,4.2,389,Ribera del Duero,64.50,Ribera Del Duero Red,5.0,3.0
7499,Sei Solo,Preludio,2016,4.2,388,Ribera del Duero,31.63,Ribera Del Duero Red,5.0,3.0

In [12]:
df.describe(include='all')

,winery,wine,year,rating,num_reviews,region,price,type,body,acidity
count,7500,7500,7498,7500.000000,7500.000000,7500,7500.000000,6955,6331.000000,6331.000000
unique,480,847,71,NaN,NaN,76,NaN,21,NaN,NaN
top,Contino,Reserva,2011,NaN,NaN,Rioja,NaN,Rioja Red,NaN,NaN
freq,457,467,1190,NaN,NaN,2440,NaN,2357,NaN,NaN
mean,NaN,NaN,NaN,4.254933,451.109067,NaN,60.095822,NaN,4.158427,2.946612
std,NaN,NaN,NaN,0.118029,723.001856,NaN,150.356676,NaN,0.583352,0.248202
min,NaN,NaN,NaN,4.200000,25.000000,NaN,4.990000,NaN,2.000000,1.000000
25%,NaN,NaN,NaN,4.200000,389.000000,NaN,18.900000,NaN,4.000000,3.000000
50%,NaN,NaN,NaN,4.200000,404.000000,NaN,28.530000,NaN,4.000000,3.000000
75%,NaN,NaN,NaN,4.200000,415.000000,NaN,51.350000,NaN,5.000000,3.000000
max,NaN,NaN,NaN,4.900000,32624.000000,NaN,3119.080000,NaN,5.000000,3.000000

- Dos 7500 totais, são únicos 847 vinhos, 480 vinícolas, 76 regiões e 21 tipos.
- O vinho mais comum é o Reserva com 467 aparições.
- A vinícola mais comum é a Contino com 457 aparições.
- O ano mais comum é 2011 com 1190 aparições.
- A região mais comum é Rioja com 2440 aparições.
- O tipo mais comum é Rioja Red com 2357 aparições.
- A média de preço é, aproximadamente, 60.10 euros.

## 3. Insights